<h1>Results</h1>
<ul>
  <li>Your Word: <span class="result-word"><%= @target_word %></span></li>
  <li>Your Text: <%= @user_text %></li>
</ul>
<p>
  Your word, <span class="result-word"><%= @target_word %></span>, occurs <span class="result-word"><%= @count %></span> times in the text.
</p>
