<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css"
    <title>Count the Words</title>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
